.planContainer
    display: flex
    padding: 30px 0px
    justify-content: space-between

.buttonContainer
    display: flex
    justify-content: space-between
    padding-top: 40px

.switchContainer
    display: flex
    justify-content: center
    align-items: center
    background-color: #F8F9FF