.planContainer
    display: flex
    padding: 40px 0px
    justify-content: space-between

.buttonContainer
    display: flex
    justify-content: space-between
    padding-top: 90px

.switchContainer
    display: flex
    justify-content: center
    align-items: center
    height: 48px
    background-color: #F8F9FF
    padding-top: 10px