.infoForm
    padding: 50px 60px
    width: 100%

.formInput
    padding: 15px
    display: flex
    flex-direction: column

.formContainer
    padding-top: 30px

.nextStepContainer
    padding-top: 70px
    display: flex
    justify-content: end