.infoForm
    padding: 50px 60px
    width: 100%
    position: relative

.formContainer
    padding-top: 30px

.nextStepContainer
    padding-top: 70px
    display: flex
    justify-content: end
    position: absolute
    bottom: 0
    right: 75px