@import '../variables.sass'

.main
    padding: 10px
    height: 570px
    width: 940px
    display: flex
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)


@media (max-width: $layout-breakpoint-mobile)
    .main
        flex-direction: column