.cardContainerCheckBox
    display: flex
    padding: 15px
    border: 1px solid #ebe7e7
    border-radius: 4px
    width:100%
    align-items: center
    margin-bottom: 20px

.cardDescriptionCheckBox
    width: 100%