$purpleMain: #483EFF

.section
    background-image: url("/Oval.png")
    background-color: $purpleMain
    display: flex
    flex: 0 0 274px
    height: 568px
    flex-direction: column
    border-radius: 4px

.steps
    padding: 30px

.stepSection
    padding: 10px
    display: flex

.stepInfo
    padding: 10px
    display: flex
    flex-direction: column
    color: white
