@import '../../variables.sass'
$purpleMain: #483EFF

.section
    background-image: url("/Oval.png")
    background-color: $purpleMain
    display: flex
    flex: 0 0 274px
    height: 568px
    flex-direction: column
    border-radius: 4px

.steps
    padding: 30px

.stepSection
    padding: 10px
    display: flex

.stepInfo
    padding: 10px
    display: flex
    flex-direction: column
    color: white


@media (max-width: $layout-breakpoint-mobile)
    .steps
        display: flex

